<h2>Your Recipes</h2>
<a routerLink="createRecipe"><button class="btn btn-primary mb-3">New Recipe</button> </a>
<div *ngIf="loadingRecipes">Loading recipes ... </div>
<div *ngIf="userRecipes.length == 0 && !loadingRecipes">No Recipes created yet </div>

<ul class="list-group list-group-flush" *ngIf="userRecipes.length > 0">
  <ng-container *ngFor="let recipe of userRecipes; let i=index">
    <li
      class="list-group-item d-flex justify-content-between"
    >
      <span>
        <a [routerLink]="'/user/' + userId + '/' + recipe._id">{{ recipe.name }}</a>
        <span class="badge rounded-pill p-2 m-2 cursor-pointer bg-secondary"
          >{{ recipe.category.name }}</span
        >
      </span>
      <button class="btn btn-danger px-3 m-1 d-flex" (click)="showDeleteDialog(recipe._id, i)">Delete</button>
    </li>
  </ng-container>
</ul>
<div *ngIf="showModal" class="background-container">
  <div class="confirm-container">
    <div>
      Are you sure?
    </div>
    <div>
      <button class="btn btn-danger m-3" (click)="deleteRecipe()" [disabled]="deleteBtnText == 'Delete ...'" >{{deleteBtnText}}</button>
      <button class="btn btn-secondary m-3" (click)="hideDeleteDialog()">Cancel</button>
    </div>
  </div>
</div>