<ng-container>
  <h2 *ngIf="!recipe">Loading ...</h2>
</ng-container>
<div *ngIf="recipe">
  <h2>{{recipe.name}}</h2>
  <span class="badge rounded-pill p-2 m-2 bg-info"
    >{{recipe.category.name}}
  </span>
  <span
    ><i
      class="bi bi-heart-fill m-1"
      style="font-size: 1rem; color: rgb(211, 7, 7)"
    ></i>
    {{recipeLikes.length}}</span
  >
  <h5>Number of servings: {{recipe.numberOfServings}}</h5>
  <ul>
    <li *ngFor="let i of recipe.ingredients">{{i.ingredient}}</li>
  </ul>
  <ol>
    <li *ngFor="let m of recipe.methods">{{m.method}}</li>
  </ol>
  <em>Created by: {{recipe.userId.username}}</em>
</div>
<ng-container *ngIf="recipe && recipe.comments.length > 0">
  <ng-container *ngFor="let comment of recipe.comments">
    <div class="border border-secondary rounded p-2 my-3">
      <div>{{comment.comment}}</div>
      <br /> 
      <em>{{comment.user}}, {{datestring(comment.createdAt)}}</em>
    </div>
  </ng-container>
</ng-container>
<recipe-comment *ngIf="recipe && userId" [recipeId]="recipe._id"></recipe-comment>