img {
  position: absolute;
  width: 150px;
}

.navbar_container {
  display: flex;
  justify-content:center;
}

ul {
  align-self: center;
}

li {
  display: inline-block;
  padding: 20px 0;
  list-style: none;
}

li > a:hover {
  background-color: rgb(255, 238, 0);
}

li > a {
  padding: 20px 20px;
  text-decoration: none;
  color: initial;
}

.active {
  background-color: rgb(255, 238, 0);
}
