<img src="../../assets/img/logo.jpg" />
<div class="navbar_container">
  <ul>
    <li>
      <a
        routerLink="/"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/recipes"
        [routerLinkActive]="'active'"
        >Recipes</a
      >
    </li>
    <ng-container *ngIf="user == null">
      <li>
        <a routerLink="/login" [routerLinkActive]="'active'">Login</a>
      </li>
      <li>
        <a routerLink="/register" [routerLinkActive]="'active'">Register</a>
      </li>
    </ng-container>
    <ng-container  *ngIf="user != null">
      <li>
        <a routerLink="/logout">Logout</a>
      </li>
    </ng-container>
  </ul>
</div>
