<h2>Recipes</h2>
<recipes-filter
  [categories]="categories"
  (changeCategory)="setSelectedCategory($event)"
></recipes-filter>
<ul class="list-group list-group-flush">
  <ng-container *ngFor="let recipe of recipes">
    <li
      class="list-group-item d-flex justify-content-between"
      *ngIf="selectedCategory == 'All Categories' || recipe.category.name == selectedCategory"
    >
      <span>
        <a [routerLink]="['/recipes', recipe._id]">{{ recipe.name }}</a>
        <span class="badge rounded-pill p-2 m-2 cursor-pointer bg-secondary"
          >{{ recipe.category.name }}</span
        >
      </span>
      <span class="px-3 m-1 d-flex">{{ recipe.likes.length }}</span>
    </li>
  </ng-container>
</ul>
