<h2>Recipes</h2>
<recipes-filter
  [categories]="categories"
  [selectedCategory]="selectedCategory"
  (changeCategory)="setSelectedCategory($event)"
></recipes-filter>
<ng-container *ngIf="recipes.length == 0">Loading ... </ng-container>
<ul class="list-group list-group-flush">
  <ng-container *ngFor="let recipe of recipes">
    <li
      class="list-group-item d-flex justify-content-between"
      *ngIf="selectedCategory == 'All Categories' || recipe.category.name == selectedCategory"
    >
      <span>
        <a [routerLink]="['/recipes', recipe._id]">{{ recipe.name }}</a>
        <span class="badge rounded-pill p-2 m-2 cursor-pointer bg-secondary"
          >{{ recipe.category.name }}</span
        >
      </span>
      <span class="px-3 m-1 d-flex"
        ><i
          class="bi bi-heart-fill m-1"
          style="font-size: 1rem; color: rgb(211, 7, 7)"
        ></i
        >{{ recipe.likes.length }}</span
      >
    </li>
  </ng-container>
</ul>
