.navbar_container {
  display: flex;
  justify-content: center;
}

ul {
    margin-top: 180px;
  align-self: center;
}

li {
  display: inline-block;
  padding: 20px 0;
  list-style: none;
}

li > a:hover {
  background-color: rgb(46, 160, 253);
  color: white;
}

li > a {
  padding: 80px 60px;
  text-decoration: none;
  color: initial;
  font-size: 36px;
}

