<h2>Create Recipe</h2>
<form class="formContainer" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name">Title:</label>
    <input class="form-control" type="text" id="name" formControlName="name" />
    <div
      *ngIf="recipeForm.get('name')?.touched && recipeForm.get('name')?.errors?.['required']"
      class="alert alert-danger"
    >
      Please, give your recipe a title.
    </div>
  </div>

  <div class="mb-3">
    <label for="numberOfServings">Number Of Servings:</label>
    <input
      class="form-control"
      type="number"
      id="numberOfServings"
      formControlName="numberOfServings"
    />
    <div
      *ngIf="recipeForm.get('numberOfServings')?.touched 
        && (recipeForm.get('numberOfServings')?.errors?.['required'] 
        || recipeForm.get('numberOfServings')?.errors?.['negativeNumberOfServings'])"
      class="alert alert-danger"
    >
      Please, enter a positive number of servings.
    </div>
  </div>

  <div class="mb-3">
    <label>Category:</label>
    <select id="categories" class="form-control" formControlName="category">
      <option></option>
      <ng-container *ngFor="let category of categories">
        <option>{{category.name}}</option>
      </ng-container>
    </select>
    <div
      *ngIf="recipeForm.get('category')?.touched && recipeForm.get('category')?.errors"
      class="alert alert-danger"
    >
      Please, select a category.
    </div>
  </div>

  <div formArrayName="ingredients" class="mb-3">
    <h5>Ingredients</h5>
    <ng-container
      *ngFor="let ingredient of getItemFormsGroup('ingredients').controls; let i=index"
    >
      <div class="mb-3 row">
        <div class="col-md-1 index"><strong>{{i + 1}}</strong></div>
        <div class="col-md-8">
          <input class="form-control" type="text" [formControlName]="i"/>
        </div>
        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteInput(i, 'ingredients')"
          >
            Remove
          </button>
        </div>
      </div>

      <div
      *ngIf="getItemFormsGroup('ingredients').controls[i].errors?.['required']
        && getItemFormsGroup('ingredients').controls[i].touched"
      class="alert alert-danger"
    >
      Please, provide an ingredient.
    </div>
    <div *ngIf="dynamicInputs.ingredients == false" class="alert alert-danger">
        A recipe must have at least one ingredient.
    </div>  

    </ng-container>
    <button
      type="button"
      class="btn btn-success"
      (click)="addInput('ingredients')"
    >
      Add Indgredient
    </button>
  </div>

  <div formArrayName="methods" class="mb-3">
    <h5>Methods</h5>
    <ng-container
      *ngFor="let method of getItemFormsGroup('methods').controls; let i=index"
    >
      <div class="mb-3 row">
        <div class="col-md-1 index"><strong>{{i + 1}}</strong></div>
        <div class="col-md-8">
          <input class="form-control" type="text" [formControlName]="i" />
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-danger" (click)="deleteInput(i, 'methods')">
            Remove
          </button>
        </div>
      </div>

      <div
      *ngIf="getItemFormsGroup('methods').controls[i].errors?.['required']
        && getItemFormsGroup('methods').controls[i].touched"
      class="alert alert-danger"
    >
      Please, provide a method.
    </div> 
    <div *ngIf="dynamicInputs.methods == false" class="alert alert-danger">
        A recipe must have at least one method.
    </div>   

    </ng-container>
    <button type="button" class="btn btn-success" (click)="addInput('methods')">
      Add Method
    </button>
  </div>


  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
